*{ 
    margin:0;
    padding:0;
    color:white
}
.sidebar{ 
    width:300px;
    height:100vh;
}
.sidebar.collapsed{ 
    width:70px;
}
.toggle-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}
.sidebar.collapsed .toggle-btn{ 
   margin:0 auto;
}

.profile-img{ 
    width:120px;
    margin:15px;
    border-radius: 50%;
    
}
.menu{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:20px;
  margin-top: 50px;
  padding-left: 25px;
}
.sidebar.collapsed .menu{ 
  
  margin-top: 70px;
  gap:30px;
}
.sidebar.collapsed .menu a{ 
  font-size: large;
}
.menu a{ 
     color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
}
.logo-area{ 
    margin-top: 40px;
      position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.sidebar.collapsed .logo-area{ 
    bottom:80px;
}
.logo{ 
    
    width:160px;
   transition: transform 0.3s ease;
}
.logo.rotate{ 
    transform: rotate(-90deg);
    width:140px;
}

.amount-card{ 
  background:linear-gradient(to right,#8a60f4b1,#f69c5ca1);
}
.toggle-icon{ 
    transition:transform 1s none;
}
.toggle-icon.rotate-icon { 
  transform:translateX(30px);
}